@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Corzzzzze</a>.</p>
</div>
<div class="text-center">
<h1 class="display-3">This is the test app for Azure lab, Test1 branch - other deployment slot.</h1>
</div>
